<tr id="email-resume-tr-<%= email.id %>">
  <td id="email-resume-td-<%= email.id %>">
    <% if email.read %>
      <%= link_to email.object, email_path(email.id), id: "email-resume-link-#{email.id}", remote: true %>
    <% else %>
      <strong id="email-resume-strong-<%= email.id %>">
        <%= link_to email.object, email_path(email.id), id: "email-resume-link-#{email.id}", remote: true %>
      </strong>
    <% end %>
  </td>
</tr>